{% extends 'base.html' %}
{% block content %}

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/img/tavolo.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">La recepción comenzará a las 7pm</span>
                   <span class="section-heading-lower long-word">Salón Puerto Salguero</span>
                  </h2>
                     <p ><b>Como llegar:</b></p>
                      <div class="figure figure-img mb-5">
                      <iframe class="gmap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13141.478437371183!2d-58.395267!3d-34.5695132!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaadcdade7044b115!2sPuerto+Salguero!5e0!3m2!1sen!2sbr!4v1543941641708" allowfullscreen></iframe>
                      </div>

                </div>

            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}